    <%- include("partial/header") -%>
    <!-- One Hidden Div . Its only present on tab and mobile phones -->
    

    <%- include("partial/slide") -%>
    <div class="head-img">
        <a href="/tree.html">
        <img src="image/laptop-2.png" alt="Header Image"></a>
    </div>
    <%- include("partial/card") -%>
    <%- include("partial/form") -%>


    





    <%- include("partial/footer") -%>
    
    