<%- include("partial/header") -%>
    <!-- Slides -->
    <div>
        <!-- Define each of the slides
     and write the content -->
        <div id="slideshow">
            <div class="slide-wrapper">

                <a href="/tree.html">
                    <div class="slide slide1">
                        <h1 class="slide-number" </h1>
                    </div>
                </a>
                <div class="slide">
                    <h1 class="slide-number">

                    </h1>
                </div>
                <div class="slide">
                    <h1 class="slide-number">

                    </h1>
                </div>
                <div class="slide">
                    <h1 class="slide-number">

                    </h1>
                </div>
            </div>
        </div>
    </div>

    <!-- New post item code -->
    <div class="newItems">
<!-- ************************** -->
<% if (Array.isArray(posts)) {%>
        <% posts.forEach(function(post){ %>
            <a href="/posts/<%=post._id%>">
                <h1>
                    <%=post.postTitle %>
                </h1>
            </a>
            <h2>
                Detail’s:
            </h2>
            <p>
                <%=post.postDetails.substring(0,200) %>
                <a href="/posts/<%=post._id%>">Read More...</a>
            </p>
            <!-- <h2>
                Eligibility:
            </h2>
            <p>
                <%=post.postEligibility %>
            </p>
            <h2>
                How to apply:
            </h2>
            <p>
                <%=post.postHowToApply %>
            </p> -->
            <h2>
                Expected Salary:
            </h2>
            <p>
                <%=post.postExpectedSalary %>
            </p>

            <%});} %>


    </div>

    </body>

    </html>