<%- include("partial/header") -%>
    <div class="newItems">
        <h1>
            <%=postTitle %>
        </h1>

        <h2>
            Detail’s:
        </h2>
        <p>
            <%=postDetails %>
        </p>
        <h2>
            Eligibility:
        </h2>
        <p>
            <%=postEligibility %>
        </p>
        <h2>
            How To Apply:
        </h2>
        <p>
            <%=postAdmission %>
        </p>
        <h2>
            Scope:
        </h2>
        <p>
            <%=postScope %>
        </p>
        <h2>
            Expected Salary:
        </h2>
        <p>
            <%=postJob %>
        </p>

    </div>
    <%- include("partial/footer") -%>