<%- include("partial/header") -%>
    <div class="newItems">
        <!-- ************************** -->
        <% if (Array.isArray(postScis)) {%>
                <% postScis.forEach(function(post){ %>
                    <a href="/postScis/<%=post._id%>">
                        <h1>
                            <%=post.postTitle %>
                        </h1>
                    </a>
                    <h3>
                        Detail’s:
                    </h3>
                    <p>
                        <%=post.postDetails.substring(0,200) %>
                        <a href="/postScis/<%=post._id%>">Read More...</a>
                    </p>
                    <h3>
                        Eligibility:
                    </h3>
                    <p>
                        <%=post.postEligibility.substring(0,200) %>
                        <a href="/postScis/<%=post._id%>">Read More...</a>
                    </p>
                    <h3>
                        How to apply:
                    </h3>
                    <p>
                        <%=post.postAdmission.substring(0,200) %>
                        <a href="/postScis/<%=post._id%>">Read More...</a>
                    </p>
                    <h3>
                        Scope:
                    </h3>
                    <p>
                        <%=post.postScope.substring(0,200) %>
                        <a href="/postScis/<%=post._id%>">Read More...</a>
                    </p>
                    <h3>
                        Job:
                    </h3>
                    <p>
                        <%=post.postJob.substring(0,200) %>
                        <a href="/postScis/<%=post._id%>">Read More...</a>
                    </p>
        
                    <%});} %>
        
        
            </div>
        </body>

        </html>